.app-container {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.clear-button {
  background-color: #cccccc;
  color: #000;
  padding: 12px 20px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.clear-button:hover {
  background-color: #b4b4b4;
}


